.Slider-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.Slider-Container-Info-Number {
    position: absolute;
    top: 2vh;
    left: 2vh;
}
.Slider-Container img {
    max-height: 45vh;
    min-height: 45vh;
    padding: 2vh;
}
.Slider-Container-Btn-Left, .Slider-Container-Btn-Right {
    background-color: transparent;
    color: black;
    border: none;
    top: 2vh;
}
.Slider-Container button {
    padding: 2vh;
    border-radius: 1vh;
    max-width: 10%;
    min-width: 10%;
}
.Slider-Container-Btn-Left { box-shadow: 2px 1px 4px -2px #888;}
.Slider-Container-Btn-Right { box-shadow: -2px 1px 4px -2px #888; }

.Slider-Container button:hover { background-color: #fafafa; }


.ImgSlider-enter {
    opacity: 0.01;
    transform: translate(0, -10px);
}
.ImgSlider-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 500ms ease;
}

.ImgSlider-exit {
    opacity: 1;
    transform: translate(0, 0);
}
.ImgSlider-exit-active {
    opacity: 0.01;
    transform: translate(0, -10px);
    transition: all 500ms ease;
}


@media (max-width: 900px) and (min-width:320px) {
    .Home-Container {
        padding: 2vh 0;
    }
    .Home-Header {
        text-align: center;
    }
    .Home-Slider-Content {
        width: 100%;
    }
    .Slider-Container {
        justify-content: center;
    }
    .Slider-Container img {
        max-width: 100vw;
        padding: 5vh;
    }
    .Slider-Container button {
        position: absolute;
        min-width: 45%;
    }
    .Slider-Container-Btn-Left, .Slider-Container-Btn-Right { top: 100%; }
    .Slider-Container-Btn-Right {
        left: 55%;
    }
    .Slider-Container-Btn-Left {
        right: 55%;
    }
}
@media (max-width: 1300px) and (min-width:600px) {
    .Slider-Container {
        justify-content: center;
    }
    .Slider-Container img {
        max-width: 80vw;
    }
    .Slider-Container button {
        position: absolute;
        min-width: 45%;
    }
    .Slider-Container-Btn-Left, .Slider-Container-Btn-Right { top: 100%; }
    .Slider-Container-Btn-Right {
        left: 55%;
    }
    .Slider-Container-Btn-Left {
        right: 55%;
    }
}
