.Register {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Register form {
    margin-top: 10vh;
    min-width: 350px;
    width: 25%;
}
.Register input {
    margin: 1% 0;
    height: 4vh;
}
.Register-Button, input {
    width: 100%;
}
.Register-Button {
    background-color: #4285F4;

    padding: 3% 0;
    margin: 6% 0;

    border: none;
    border-radius: 1em;
}
.Register-Button:active {
    background-color: #0d47a1;
}
.Register-Form {
    margin-bottom: 5vh;
    font-size: 3em;
}
