.product-image-preview {
    max-width: 50%;
    & .card-product {
        width: 100%;
    }
    & .card-product__wrapper {
        & img {
            max-height: inherit;
            max-width: inherit;
        }
    }

    &__summary {
        margin-top: 40px;
        font-size: 15px;
        color: #303132;
    }
}
