.product-data {
    color: #303132;

    &__header {
        font-weight: 400;
        margin-top: 0;
    }

    &__price {
        font-size: 20px;
        margin-bottom: 40px;
    }

    &__sort {
        margin-bottom: 30px;
        & .sort__btn {
            border-color: rgb(192, 192, 192);
        }
        & .sort__list {
            width: 100%;
            box-shadow: rgb(192, 192, 192);
        }
    }
    &__sort--error {
        &::before {
            content: "";
            position: absolute;
            top: -6px;
            right: 10%;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #303132;
        }
        &::after {
            content: 'Please choose a size';
            position: absolute;
            width: max-content;
            text-align: center;
            background-color: #303132;
            color: #ffffff;
            padding: 3px 10px;
            border-radius: 4px;
            top: -30px;
            right: 10%;
        }
    }

    &__label {
        font-size: 14px;
        color: #303132;
        margin-bottom: 5px;
    }
    &__quantity {
        width: 60px;
        height: 40px;
        margin-bottom: 30px;
        padding-left: 15px;
        font-size: 16px;
        color: #303132;
    }

    & .btn-primary {
        width: 100%;
        margin: 7px auto;
        &:hover {
            opacity: 0.8;
        }
    }
    &__btn-add {
        height: 45px;
        color: #303132;
        border: 1px solid #303132;
        background-color: transparent;
        &:hover {
            color: #303132;
            background-color: #f1f1f1;
        }
    }
    &__btn-buy {
        height: 40px;
        &:hover {
            background-color: #303132;
            color: #ffffff;
        }
    }
}
