@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}
// color for headers buttion etc
$event-color: #303132;
$font-color: #d3d3d3;

$basic-transition: 0.35s ease;

.btn-primary {
    background-color: $event-color;
    color: #ffffff;
    padding: 10px 60px;
    transition: all $basic-transition;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    font-family: "Raleway", sans-serif;

    &:hover {
        background-color: #ffffff;
        color: $event-color;
        box-shadow: 1px 3px 7px 1px rgba(255, 255, 255, 0.57);
    }
    &:focus {
        outline: none;
    }
}
.link {
    text-decoration: none;
}

// styling lazy loading
.lazy {
    opacity: 0;
}
.loaded {
    opacity: 1;
    transition: opacity 0.45s ease;
}
// styling lazy loading

// arrows
.chevron {
    position: absolute;
    &::before {
        border-style: solid;
        border-width: thin thin 0 0;
        border-color: #303132;
        content: "";
        display: inline-block;
        height: 0.45em;
        left: 0.15em;
        position: relative;
        top: 0.15em;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 0.45em;
    }
    &.top::before {
        top: 6px;
    }
    &.right::before {
        left: 0;
        transform: rotate(45deg);
    }
    &.bottom::before {
        top: 2px;
        transform: rotate(135deg);
    }
    &.left::before {
        left: 0.25em;
        transform: rotate(-135deg);
    }
}
// arrows
