.Home-Container {
    padding: 2vh 6vh;
}
.Home-Header {
    margin: 1vh 0 2vh 0;
}
.Home-Slider-Content {
    width: 100%;
    min-height: 45vh;
    max-height: 45vh;

    box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC; 
}

