.shop {
    margin: 75px auto;
    width: 70%;

    &__header {
        font-size: 20px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #303132;
        font-weight: 700;
        text-align: center;
    }

    &__content-c {
        margin-top: 75px;
        display: flex;
    }

    &__filters {
        width: 20%;
    }

    &__products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 70%;
    }

    &__card {
        margin: 10px auto;
    }
}

.settings-right {
    flex: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 60px;
    padding: 0 30px;

    &__search {
        width: 50%;
        & input {
            padding: 11.5px 15px;
            width: 100%;
            max-width: 150px;

            &:focus {
                max-width: 100%;
                border-color: transparent transparent #330011 transparent;
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .shop {
        width: 75%;
    }
}
@media only screen and (max-width: 1100px) {
    .shop {
        width: 85%;

        &__filters {
            width: 25%;
        }

        &__products {
            width: 75%;
        }
    }
}
@media only screen and (max-width: 950px) {
    .shop {
        width: 80%;

        &__filters {
            width: 30%;
        }

        &__products {
            width: 60%;
        }
    }
    .settings-right {
        flex-direction: column;
        justify-content: flex-end;

        &__search,
        &__sort {
            width: 100%;
        }

        &__search {
            & input {
                border-color: transparent transparent transparent #303132;
            }
        }
        &__sort {
            margin: 10px 0;

            & .sort__list {
                right: inherit;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .shop {
        margin: 40px auto;
        width: 95%;
        &__content-c {
            margin-top: 40px;
        }

        & .card-product {
            & .card-product__wrapper img {
                max-height: 300px;
            }
        }

        &__products {
            width: 100%;
        }

        &__filters {
            display: none;
        }
    }

    .settings-right {
        flex-direction: row;
        justify-content: space-between;

        &__sort,
        &__search {
            width: auto;
        }
    }
}
@media only screen and (max-width: 545px) {
    .shop {
        & .card-product {
            width: 100%;
            & .card-product__wrapper img {
                max-height: 300px;
            }
        }
    }
    .settings-right {
        flex-direction: column;

        &__sort,
        &__search {
            width: 100%;
        }
        &__search {
            & input {
                &:focus {
                    max-width: 88%;
                }
            }
        }
    }
}
