.shop {
    margin: 75px auto;
    width: 65%;

    &__header {
        font-size: 20px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #303132;
        font-weight: 700;
        text-align: center;
    }

    &__content-c {
        margin-top: 75px;
        display: flex;
    }

    &__filters {
        width: 250px;
    }

    &__products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: calc(100% - 250px);
    }

    &__card {
        margin: 10px auto;
    }
}

.settings-right {
    flex: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 60px;
    padding: 0 30px;

    &__search {
        width: 50%;
        & input {
            padding: 11.5px 15px;
            width: 100%;
            max-width: 150px;

            &:focus {
                max-width: 100%;
                border-color: transparent transparent #330011 transparent;
            }
        }
    }

}