.Products {
    display: grid;
    grid-template-columns: 30vw 70vw;
}
/* Navbar */
.Products-Navigate-Container {
    background-color:#fafafa ;
    min-width: 250px;
}
.Products-Navigate {
    position: sticky;
    margin: 5vh 0;
    top: 5vh;
    font-size: 1.25em;
    padding-left: 25%;
}
.Products-Navigate-Item li {
    text-transform: capitalize;
    cursor: pointer;
    margin: 2vh 0;
    list-style: none;
    color: black;
}
.Searching-In-Category {
    margin-left: -30%;
}
.Searching-In-Category p{
    text-transform: capitalize;
    margin: 2vh 0;
    font-weight: bold;
}
.Products-Navigate-Item:hover li {
    text-decoration:black underline;
}
/* Products & Cards */
.Products-Container {
    letter-spacing: 2px;
    margin: 10vh 0vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Products-Cards {
    min-width: 300px;
    margin: 2vh 5%;
    padding: 2em;
    text-align: center;
    
    transition: all 0.1s ease;
    box-shadow: 2px 3px 8px -3px rgba(0,0,0,0.76);
}
.Products-Cards:hover {
    transform: scale(1.03);
}
.Products-Cards:hover img{
    transform: scale(1.05);
}
.Products-Cards:hover p {
    text-decoration: black underline;
}
.Products-Cards p {
    padding: 1vh 0;
    color: black;
}
.Products-Cards img {
    height: 30vh;
    margin-bottom: 3vh;
    max-width: 99%;
    transition: all 0.25s ease;
}

@media (max-width: 900px) and (min-width:320px) {
    .Products { grid-template-columns: 1fr; font-size: large; }
    .Products-Navigate { margin: 5vh 0vh 2vh 0vh }
    .Searching-In-Category { margin: 0; }
    .Products-Container { 
        margin: 2vh 0;
        grid-template-columns: 1fr;
    }
    .Products-Cards {
        margin: 2vh auto;
        min-width: 80%;
        max-width: 80%;
    }
    .Products-Cards img { 
        height: auto;
        max-height: 30vh;
    }
}
@media (max-width: 1300px) and (min-width:600px) {
    .Products { grid-template-columns: 1fr; font-size: large; }
    .Searching-In-Category { margin: 0; }
}
