$bg-color: #535151;
$item-color: #D3D3D3;
$item-color--hover: #a2c2c9;
$item-color--active: #ffffff;
$basic-transition: 0.2s ease;
$navHeight: 80px;

.nav {
    background-color: $bg-color;
    min-height: $navHeight;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 2px 7px 2px rgba(83, 81, 81, 0.63);

    &__logo,
    &__item,
    &__hamburger {
        cursor: pointer;
    }

    &__logo {
        color: $item-color;
        letter-spacing: 3px;
        font-size: 22px;
        font-weight: 700;
        text-decoration: none;
    }

    &__c-items {
        width: 35%;
        display: flex;
        justify-content: space-around;
    }
    &__item {
        text-decoration: none;
        text-transform: capitalize;
        color: $item-color;
        transition: all $basic-transition;
        padding: 5px 10px;
        border-bottom: thin solid transparent;

        &:hover {
            color: $item-color--hover;
            border-bottom: thin solid rgba(255, 255, 255, 0.75);
        }
    }

    &__user-avatar {
        display: flex;
        align-items: center;

        & img {
            margin: 0 8px;
        }
    }

    &__hamburger {
        display: none;
        background-color: #ffffff;
        height: 38px;
        width: 40px;

        & div {
            width: 25px;
            height: 2px;
            background-color: black;
            margin: 8px auto;
            transition: all $basic-transition;
        }
    }
}
// style applying by navlink and have to be here
.nav__item--active {
    color: $item-color--active;
    border-bottom: thin solid #ffffff;
}

@media only screen and (max-width: 1400px) {
    .nav {
        &__c-items {
            width: 45%;
        }
    }
}
@media only screen and (max-width: 1100px) {
    .nav {
        &__c-items {
            width: 55%;
        }
    }
}
@media only screen and (max-width: 900px) {
    .nav {
        &__c-items {
            width: 65%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        position: sticky;
        top: 0;
        justify-content: space-between;
        padding: 0 15px;
        z-index: 3;

        &__hamburger {
            display: block;
            z-index: 3;
        }

        &__c-items {
            position: fixed;
            background-color: $bg-color;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            padding-left: 10%;

            transform: translateX(30%);
            visibility: hidden;
            opacity: 0;
            

            transition: all $basic-transition;
        }
        &__item {
            padding: 40px 30px;
            width: 50%;
        }
    }
}

.nav__c-items--active {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
}

.nav__hamburger--active {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.57);

    & div:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
    }
    & div:nth-child(2) {
        opacity: 0;
    }
    & div:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }
}
